# Backend
QuizAPI/bin/
QuizAPI/obj/
QuizAPI/.vs/
QuizAPI/*.db
QuizAPI/*.db-shm
QuizAPI/*.db-wal
*.user

# Frontend
QuizFrontend/node_modules/
QuizFrontend/dist/
QuizFrontend/.env.local

# General
.DS_Store
*.log